# Create a symlink for easy access as /dev/so-100/leader_left
KERNEL=="ttyACM*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="58FA083154", MODE:="0777", SYMLINK+="so-100/leader_left"